<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Funcionários</title>
  </head>

  <body>
    <div class="header-container">
      <h1 class="header-title">Serviços</h1>
    </div>
    <form class="form">
      <div class="form-item">
        <label for="tipo">Tipo</label>
        <input type="text" id="tipo" />
      </div>

      <div class="form-item">
        <label for="horario">Horário</label>
        <input type="text" id="horario" />
      </div>

      <div class="form-item">
        <label for="valor">Valor</label>
        <input type="text" id="valor" />
      </div>

      <div class="form-item">
        <label for="duracao">Duração</label>
        <input type="text" id="duracao" />
      </div>
    </form>

    <div class="buttons">
      <button id="btSalvar">Salvar</button>
      <button id="btLimpar">Limpar</button>
      <button id="btExcluir">Excluir</button>
      <a href="../index.html"><button type="button">HOME</button></a>
    </div>
    <hr />

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>TIPO</th>
            <th>HORÁRIO</th>
            <th>VALOR</th>
            <th>DURAÇÃO</th>
          </tr>
        </thead>
        <tbody id="tbody1"></tbody>
      </table>
    </div>
  </body>
  <script src="manipula_interface.js" type="module"></script>
</html>
